body {
    font-family: Arial, sans-serif;
    background-color: #f9ede5;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}

.container {
    margin-top: 40px;
}

.card {
    background: white;
    width: 330px;
    padding: 25px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);

    transition: 0.3s ease;
}

.brand {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.brand .logo {
    width: 45px;
    height: auto;
}

h2 {
    color: #c2251b;
    margin: 0;
}

h3 {
    margin: 10px 0 5px 0;
    color: #c2251b;
    font-weight: bold;
}

.subtitle {
    font-size: 12px;
    color: #555;
    margin-bottom: 15px;
}

input {
    width: 90%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: #f5f4f4;
    font-size: 13px;
}

.btn {
    width: 90%;
    padding: 10px;
    background-color: #c2251b;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    transition: 0.3s;
}

.btn:hover {
    opacity: 0.9;
}

/* Fade Animation */
.fade-in {
    animation: fadeIn 0.4s ease;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(5px); }
    to { opacity: 1; transform: translateY(0); }
}

.hidden {
    display: none;
}

/* Error message */
.error-message {
    color: red;
    font-size: 12px;
    min-height: 18px;
    margin-top: -5px;
}

.link {
    color: #c2251b;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

.link:hover {
    text-decoration: underline;
    opacity: 0.8;
}
